body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

#items-carrito {
    margin-bottom: 20px;
}

#total-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#precio-total {
    font-weight: bold;
}

#comprar-btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#comprar-btn:hover {
    background-color: #555;
}
