/**/


body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    margin: 0;
}

/*Animacion de titulo de X, Y*/
.titulo {
    font-size: 2.5em;
    animation: bounce 1s ease-in-out infinite alternate;
    -webkit-animation: bounce 1s ease-in-out infinite alternate;

    margin: 0 auto;

}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}
/*navegacion*/

.navegacion a{
    text-decoration: none;
    color: rgb(203, 18, 18);
    font-size: 3vh;
}


.cabecera .titulo, .contenedor h1{
    text-shadow: 10px 12px 10px rgba(0, 0, 0, 0.628);
    padding-left: 2%;
    font-size: 3em; /* Tamaño del texto */
    background-image: url('fondo-ca.jpg'); /* Ruta de la imagen */
    background-clip: text; /* Aplica el clip de fondo al texto */
    -webkit-background-clip: text; /* Para navegadores webkit */
    color: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
} 

.cabecera{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.linea{
    height: 2px; /* Altura de la línea */
    width: 80%; /* Ancho deseado de la línea */
    background-color: #acabab; /* Color de la línea */
    margin: 0 auto; /* Centra horizontalmente */
    
}



.navegacion{
    
    display: flex;
    border-radius: 4%;
    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
    -ms-border-radius: 4%;
    -o-border-radius: 4%;

    margin: 0 auto;


}


.link-nav{
    display: flex;
    
    list-style: none;
}

.link-nav li{
    padding: 10px;
}


.link-nav li:hover{
    background-color: rgba(121, 120, 120, 0.5);
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}



























/*contenedor*/
.seccion, .redes{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.redes {
    margin: 10px 10px;
}

.caja{
    margin: 0px 20px;
    text-align: center;
    width: 180px;
    height: auto;
    display: inline-block;
    padding: 5%;
    margin: 0 5px 20px 5px;
    box-shadow: 14px 15px 20px #0000008c;
    opacity: 1;
    transition: transform 0.3s ease ;
    -webkit-transition: transform 0.3s ease ;
    -moz-transition: transform 0.3s ease ;
    -ms-transition: transform 0.3s ease ;
    -o-transition: transform 0.3s ease ;
    border-radius: 10% ;
    -webkit-border-radius: 10% ;
    -moz-border-radius: 10% ;
    -ms-border-radius: 10% ;
    -o-border-radius: 10% ;



}










.caja:hover{
    background-color: rgb(244, 244, 244);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}





/*PRODUCTOS*/
.productos{
    width: 70%;
    
}

/*=================================================BOTONES=================================================*/
/*=========================================================================================================*/
/*=========================================================================================================*/








.boton {
    background-color: #f26d6d; 
    border-radius: 100px;
    box-shadow: rgba(187, 44, 44, 0.2) 0 -25px 18px -14px inset,rgba(187, 44, 44, 0.15) 0 1px 2px,rgba(187, 44, 44, 0.15) 0 2px 4px,rgb(187, 44, 44) 0 4px 8px,rgba(243, 4, 4, 0.15) 0 8px 16px,rgba(187, 44, 44, 0.15) 0 16px 32px;
    color: rgb(210, 30, 30);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 10px;
}

.boton:hover {
    box-shadow: rgba(187, 44, 44, 0.35) 0 -25px 18px -14px inset,rgba(187, 44, 44, 0.25) 0 1px 2px,rgba(187, 44, 44, 0.25) 0 2px 4px,rgba(187, 44, 44, 0.823) 0 4px 8px,rgba(203, 7, 7, 0.25) 0 8px 16px,rgba(187, 51, 44, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}






















/*=========================================================================================================*/
/*=========================================================================================================*/
/*=========================================================================================================*/


    
/*================================================================================================*/
/*
.boton {
    font-size: 2vh;
    color: black;
    background: linear-gradient(#72bcd4, #3498db); /* Cambiado a un gradiente de color 
    margin: 2%;
    padding: 10px 15px; 
    cursor: pointer;
    transition: .3s ease all;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    
}

.boton:hover {
    background: linear-gradient(#e15e5ef9, #c90f0f); /* Cambiado el gradiente en hover 
    color: white;
}*/

/*================================================================================================*/


/*pie de pagina*/
/*   es igual a .caja
.pie-pag{
    
    position: relative;
    bottom: 0;
    width: 100%;
    padding-left: 2%;
    
    
}



/**/

/*---------------CONTACTO----------------*/

.icono{
    z-index: 1;
    display: flex;
    justify-content: center;
}





.red-ani{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 350px;
    background-color: #181818;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    box-shadow: 16px 14px 20px #0000008c;



    transition: transform 0.3s ease ;
    -webkit-transition: transform 0.3s ease ;
    -moz-transition: transform 0.3s ease ;
    -ms-transition: transform 0.3s ease ;
    -o-transition: transform 0.3s ease ;
    border-radius: 10% ;
    -webkit-border-radius: 10% ;
    -moz-border-radius: 10% ;
    -ms-border-radius: 10% ;
    -o-border-radius: 10% ;
}


.red-ani a{
    outline: none;
    text-decoration: none;
    color: #bfbebe;
    margin: 3px;
    font-size: 2vh;
    display: block;
    flex-direction: row;
    margin: 5px;
}


.red-ani a,p{
    z-index: 1;
    

}




.red-ani p{
    color: #bfbebe;
    font-size: 3vh;

}


.red-ani:hover{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    
}


.red-ani::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 450px;
    background-image: conic-gradient(red 20deg,transparent 120deg);
    animation: rotar 2s linear infinite;
    -webkit-animation: rotar 2s linear infinite;
}


@keyframes rotar{
    from{
        transform: rotate(1turn);
        -webkit-transform: rotate(1turn);
        -moz-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        -o-transform: rotate(1turn);
}
}

.red-ani::after{
    content: "";
    position: absolute;
    height: 340px;
    width: 290px;
    background-color: #181818;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}


.menu-icon{
    display: none;
}






.menu-abierto{
    display: block;
    position: absolute;
    right: 0;
    width: 100%;
    max-width: calc(50vh - 20vh);
    background-color: #d4d2d2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    padding: 10px;

    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}







@media screen and (width <= 1093px){  
    /*Tablets*/
    




    .link-nav{
        display: none;
        
    }


    


    .menu-icon {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        color: #fff;
        font-size: 20px;
    }

    

    .caja:hover{
        
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
}

    .pie-pag{
        position: relative;
    }

    .menu-abierto{
        display: block;
        bottom: 60%;
}

    

/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

    .red-ani:hover{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }



    .menu-icon {
        
        display: flex;
        flex-direction: column;
        cursor: pointer;
        color: #fff;
        font-size: 20px;
    }

    
    

    
    .navegacion {
        
        background-color: #333;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .fas {
        padding: 4px;
    }



}





















@media screen and (width <= 600px){
    
/*-----------------------------PAGINA DE INDEX---------------------------------------*/
/*-----------------------------------------------------------------------------------*/
    
    .link-nav{
        display: none;
        
    }

    .menu-icon {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        color: #fff;
        font-size: 20px;
    }

    

    .caja:hover{
        
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
}

    .pie-pag{
        position: relative;
    }

    .menu-abierto{
        display: block;
        bottom: 50%;

    

/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

    .red-ani:hover{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }



    .menu-icon {
        
        display: flex;
        flex-direction: column;
        cursor: pointer;
        color: #fff;
        font-size: 20px;
    }

    
    

    
    .navegacion {
        
        background-color: #333;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .fas {
        padding: 4px;
    }
    
    

}
}