body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.contenedor {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.titulo {
    font-size: 2.5em;
    animation: bounce 1s ease-in-out infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

p {
    color: #666;
    line-height: 1.6;
    font-size: 18px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.izquierda {
    float: inline-start;
    width: 100px;
    height: 100px;
    shape-outside: circle();
    clip-path: circle();
    background: lightblue;
    margin: 10px;
}

.derecha {
    float: inline-end;
    width: 100px;
    height: 100px;
    shape-outside: circle();
    clip-path: circle();
    background: lightblue;
    margin: 10px;
}

.p2 {
    text-align: rig;
}